:host {
    display: block;
    padding: 20px 12px;
}

.menu-list {
    display: grid;
    gap: 8px;
    list-style: none;
}

.menu-item {
    padding: 16px 12px;
    background: none;
    border: none;
    width: 100%;
    color: var(--light-color);
    cursor: pointer;
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    gap: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    border-radius: 2px;

    &:hover,
    &:focus-visible {
        background: var(--dark-hover-color);
        color: var(--primary-color);
    }
}

.menu-item svg {
    width: 16px;
    height: 16px;
}
